system-apis/meal-log-sys-api/src/main/mule/meal-log-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="meal-log-sys-api-main">
        <http:listener config-ref="meal-log-sys-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="meal-log-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="meal-log-sys-api-console">
        <http:listener config-ref="meal-log-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="meal-log-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\users\(userId)\meals\(mealId)\items\(itemId):meal-log-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="mealId">attributes.uriParams.'mealId'</ee:set-variable>
                <ee:set-variable variableName="itemId">attributes.uriParams.'itemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\users\(userId)\meals\(mealId)\items\(itemId):meal-log-sys-api-config" />
    </flow>
    <flow name="delete:\users\(userId)\meals\(mealId):meal-log-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="mealId">attributes.uriParams.'mealId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\users\(userId)\meals\(mealId):meal-log-sys-api-config" />
    </flow>
    <flow name="patch:\users\(userId)\meals\(mealId)\items\(itemId):application\json:meal-log-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="mealId">attributes.uriParams.'mealId'</ee:set-variable>
                <ee:set-variable variableName="itemId">attributes.uriParams.'itemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  mealId: "b2c3d4e5-f6a7-8901-bcde-f12345678901",
  userId: "runo313",
  mealType: "breakfast",
  consumedAt: "2026-07-13T08:00:00-04:00",
  loggedAt: "2026-07-13T08:30:00-04:00",
  items: [
    {
      itemId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      foodId: 747448,
      portionId: 118808,
      portionAmount: 1.5,
      quantityG: 234,
      loggedAt: "2026-07-13T08:30:00-04:00"
    }, 
    {
      itemId: "c3d4e5f6-a7b8-9012-cdef-123456789012",
      foodId: 2684444,
      portionId: null,
      portionAmount: null,
      quantityG: 150,
      loggedAt: "2026-07-13T08:30:00-04:00"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\users\(userId)\meals\(mealId):application\json:meal-log-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="mealId">attributes.uriParams.'mealId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  mealId: "b2c3d4e5-f6a7-8901-bcde-f12345678901",
  userId: "runo313",
  mealType: "breakfast",
  consumedAt: "2026-07-13T08:00:00-04:00",
  loggedAt: "2026-07-13T08:30:00-04:00",
  items: [
    {
      itemId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      foodId: 747448,
      portionId: 118808,
      portionAmount: 1.5,
      quantityG: 234,
      loggedAt: "2026-07-13T08:30:00-04:00"
    }, 
    {
      itemId: "c3d4e5f6-a7b8-9012-cdef-123456789012",
      foodId: 2684444,
      portionId: null,
      portionAmount: null,
      quantityG: 150,
      loggedAt: "2026-07-13T08:30:00-04:00"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\health:meal-log-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "UP",
  timestamp: "2026-06-21T12:00:00Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\(userId)\meals:meal-log-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  count: 2,
  meals: [
    {
      mealId: "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      userId: "runo313",
      mealType: "breakfast",
      consumedAt: "2026-07-13T08:00:00-04:00",
      loggedAt: "2026-07-13T08:30:00-04:00",
      items: [
        {
          itemId: "a1b2c-e5f6-7890-abcd",
          foodId: 747448,
          portionId: 118808,
          portionAmount: 1.5,
          quantityG: 234,
          loggedAt: "2026-07-13T08:30:00-04:00"
        }
      ]
    }, 
    {
      mealId: "c3d4-a7b8-9012-cdef-",
      userId: "runo313",
      mealType: "lunch",
      consumedAt: "2026-07-13T12:30:00-04:00",
      loggedAt: "2026-07-13T12:45:00-04:00",
      items: [
        {
          itemId: "d4e5f-b8c9-0123-defa",
          foodId: 2684444,
          quantityG: 150,
          loggedAt: "2026-07-13T12:45:00-04:00"
        }
      ]
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\(userId)\meals\(mealId):meal-log-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="mealId">attributes.uriParams.'mealId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  mealId: "b2c3d4e5-f6a7-8901-bcde-f12345678901",
  userId: "runo313",
  mealType: "breakfast",
  consumedAt: "2026-07-13T08:00:00-04:00",
  loggedAt: "2026-07-13T08:30:00-04:00",
  items: [
    {
      itemId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      foodId: 747448,
      portionId: 118808,
      portionAmount: 1.5,
      quantityG: 234,
      loggedAt: "2026-07-13T08:30:00-04:00"
    }, 
    {
      itemId: "c3d4e5f6-a7b8-9012-cdef-123456789012",
      foodId: 2684444,
      portionId: null,
      portionAmount: null,
      quantityG: 150,
      loggedAt: "2026-07-13T08:30:00-04:00"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users\(userId)\meals\(mealId)\items:application\json:meal-log-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="mealId">attributes.uriParams.'mealId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  mealId: "b2c3d4e5-f6a7-8901-bcde-f12345678901",
  userId: "runo313",
  mealType: "breakfast",
  consumedAt: "2026-07-13T08:00:00-04:00",
  loggedAt: "2026-07-13T08:30:00-04:00",
  items: [
    {
      itemId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      foodId: 747448,
      portionId: 118808,
      portionAmount: 1.5,
      quantityG: 234,
      loggedAt: "2026-07-13T08:30:00-04:00"
    }, 
    {
      itemId: "c3d4e5f6-a7b8-9012-cdef-123456789012",
      foodId: 2684444,
      portionId: null,
      portionAmount: null,
      quantityG: 150,
      loggedAt: "2026-07-13T08:30:00-04:00"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users\(userId)\meals:application\json:meal-log-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  mealId: "b2c3d4e5-f6a7-8901-bcde-f12345678901",
  userId: "runo313",
  mealType: "breakfast",
  consumedAt: "2026-07-13T08:00:00-04:00",
  loggedAt: "2026-07-13T08:30:00-04:00",
  items: [
    {
      itemId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      foodId: 747448,
      portionId: 118808,
      portionAmount: 1.5,
      quantityG: 234,
      loggedAt: "2026-07-13T08:30:00-04:00"
    }, 
    {
      itemId: "c3d4e5f6-a7b8-9012-cdef-123456789012",
      foodId: 2684444,
      portionId: null,
      portionAmount: null,
      quantityG: 150,
      loggedAt: "2026-07-13T08:30:00-04:00"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
