system-apis/meal-log-sys-api/src/main/mule/patch-meal.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="patch-meal-flow" doc:id="245fe212-f4f3-4f97-8bc8-fa8cd443db06" >
		<ee:transform doc:name="Transform Message" doc:id="f3c74c34-a3ec-4ee4-b7fa-18044e85ae06" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="flowName" ><![CDATA[flow.name]]></ee:set-variable>
				<ee:set-variable variableName="InvalidKey" ><![CDATA[%dw 2.0
output application/java
import some from dw::core::Arrays
---
keysOf(payload) some ((key) -> !(['mealType', 'consumedAt'] contains (key as String)))]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<validation:all doc:name="All" doc:id="bc1034ce-f27c-4908-8c57-207afc7aa029" >
			<validation:is-false doc:name="Check Meal Id" doc:id="b67b7f6a-bbfa-44c9-99aa-051223b448a4" expression="#[not (vars.mealId matches /^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/)]" message="Invalid meal Id format. Must be a valid UUID." />
			<validation:is-false doc:name="mealType or consumedAt is required" doc:id="93c92f8e-e67c-49da-a5cc-e1498f0b934a" expression="#[payload.mealType == null and payload.consumedAt == null]" message="mealType or consumedAt is required"/>
			<validation:is-false doc:name="Can only modify mealType or consumedAt" doc:id="30453bef-6e9f-4d3e-9b02-a6925404bce9" message="Can only modify mealType or consumedAt" expression="#[vars.InvalidKey]"/>
		</validation:all>
		<db:select doc:name="Select meal_id" doc:id="9e3ac354-a3e7-4ba3-9e4f-70142a761cfd" config-ref="NUTRISENSE_DB_CONFIG" target="meal_id">
			<db:sql ><![CDATA[SELECT meal_id from meals where meal_id = :mealId AND user_id = :userId AND deleted_at IS NULL]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	mealId: vars.mealId,
	userId: vars.userId
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="36343e9f-0a6e-42ac-92ad-001453a716c1" >
			<when expression="#[isEmpty(vars.meal_id)]">
				<ee:transform doc:name="Not data found" doc:id="d6ecc45c-ce7a-4830-a7b3-1d6a260aa2ab" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  code: "Meal-404",
  message: "No data found for the provided user and filters",
  correlationId: correlationId,
  timestamp: now() as String {format: "yyyy-MM-dd'T'HH:mm:ssXXX"},
  originLayer: "system"
}

]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="SQL" doc:id="906c7830-f57b-4392-be38-9c9688a30415">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="sql" ><![CDATA[%dw 2.0
output application/java
var base = "UPDATE meals "
var Clause = if ( payload.mealType != null and payload.consumedAt == null ) " SET meal_type = :mealType " 
else if ( payload.consumedAt != null and payload.mealType == null ) " SET consumed_at = :consumedAt"
else "SET meal_type = :mealType, consumed_at = :consumedAt "
var endClause= " WHERE meal_id = :mealId AND user_id = :userId AND deleted_at IS NULL"
---
base ++ Clause ++ endClause]]></ee:set-variable>
						<ee:set-variable variableName="inputParams" ><![CDATA[%dw 2.0
output application/java
---
{
	mealId: vars.mealId,
	userId: vars.userId,
	mealType: payload.mealType,
	consumedAt: payload.consumedAt as DateTime {
		format: "yyyy-MM-dd'T'HH:mm:ssXXX"
	} as String {
		format: "yyyy-MM-dd HH:mm:ssXXX"
	} default null
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<db:update doc:name="Update meals" doc:id="958e9189-33f7-4807-a1d9-1c8a2159cf47" config-ref="NUTRISENSE_DB_CONFIG">
					<db:sql ><![CDATA[#[vars.sql]]]></db:sql>
					<db:input-parameters ><![CDATA[#[vars.inputParams]]]></db:input-parameters>
				</db:update>
				<db:select doc:name="Select meals" doc:id="e0479427-a1f2-4caf-ac1c-450034053871" config-ref="NUTRISENSE_DB_CONFIG">
			<db:sql><![CDATA[SELECT m.meal_id, m.user_id, m.meal_type, m.consumed_at, m.logged_at as meal_logged_at,
       mi.item_id, mi.food_id, mi.portion_id, mi.portion_amount, mi.quantity_g, mi.logged_at as item_logged_at
FROM meals m
LEFT JOIN meal_items mi ON m.meal_id = mi.meal_id
WHERE m.meal_id = :meal_id
AND m.deleted_at IS NULL
AND (mi.deleted_at IS NULL OR mi.item_id IS NULL)]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	userId: vars.userId,
	meal_id : vars.mealId
}]]]></db:input-parameters>
		</db:select>
				<logger level="INFO" doc:name="Update Complete" doc:id="1ea28262-7a23-4029-aeaf-cd384ca8dd37" message="#[%dw 2.0&#10;output application/json&#10;var logMessage ='Meal updated'&#10;var userId = {&#10;userId: vars.userId as String,&#10;mealId: vars.mealId as String&#10;}&#10;import buildLog from dwl::log&#10;---&#10;buildLog(&quot;INFO&quot;,logMessage,userId, vars.correlationId , vars.flowName)]" />
				<ee:transform doc:name="Transform Message" doc:id="ee545c56-4435-4755-9eef-308f06c8789d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
import transformMeal from dwl::transforms
output application/json
---
transformMeal(payload)]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[200]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a20e1375-1785-46d0-9450-321e7c0580f0" type="VALIDATION:MULTIPLE" >
				<logger level="ERROR" doc:name="Invalid Body" doc:id="6c3ce35a-5986-4104-8de4-2b9e4ebc4d05" message='#[%dw 2.0&#10;output application/json&#10;var logMessage = {&#10;	status: "Payload received is invalid",&#10;	userId: vars.userId&#10;}&#10;import buildLog from dwl::log&#10;---&#10;buildLog("ERROR","Validation Not Successful",logMessage,vars.correlationId , vars.flowName)]' />
				<ee:transform doc:name="Error Invalid Body" doc:id="2b1ee2ca-96ca-481b-85ce-56d611d865a7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  code: "MEALS-LOG-400",
  message: error.description replace("\n") with (" and "),
  correlationId: correlationId,
  timestamp: now(),
  originLayer: "system"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5475d345-e552-44cc-87f9-d14e26facd7d" >
				<logger level="ERROR" doc:name="PATCH meal failed " doc:id="9825b8c5-4ec9-45a3-887a-b3583d82bc1d" message='#[%dw 2.0&#10;output application/json&#10;var logMessage = {&#10;	status: error.description,&#10;	userId: vars.userId,&#10;	mealId: vars.mealId&#10;}&#10;import buildLog from dwl::log&#10;---&#10;buildLog("ERROR","PATCH meal failed",logMessage,vars.correlationId , vars.flowName)]' />
				<ee:transform doc:name="Transform Message" doc:id="660f362b-73c4-47ec-b578-b4547a278fe7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  code: "Meal-500",
  message: "An error occurred updating meal item",
  correlationId: correlationId,
  timestamp: now(),
  originLayer: "system"
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="patch-meal-item-flow" doc:id="5751c6ca-6159-44e0-86d0-37989f5c25f1" >
		<logger level="INFO" doc:name="Logger" doc:id="3181302f-dd5a-4db4-a670-461695b083b9" />
	</flow>
</mule>
