system-apis/nutrition-sys-api/src/main/mule/nutrition-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="nutrition-sys-api-main">
        <http:listener config-ref="nutrition-sys-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="nutrition-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "WEARABLE-400",
  message: "Bad Request: " ++ error.description as String ,
  correlationId: correlationId,
  timestamp: now(),
  originLayer: "system"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "WEARABLE-404",
  message: "Resource not found: " ++ error.description as String ,
  correlationId: correlationId,
  timestamp: now(),
  originLayer: "system"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "WEARABLE-404",
  message: "Method Not allowed: " ++ error.description as String ,
  correlationId: correlationId,
  timestamp: now(),
  originLayer: "system"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "WEARABLE-406",
  message: "Not Acceptable: " ++ error.description as String ,
  correlationId: correlationId,
  timestamp: now(),
  originLayer: "system"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "WEARABLE-415",
  message: "Unsupported media type: " ++ error.description as String ,
  correlationId: correlationId,
  timestamp: now(),
  originLayer: "system"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: "WEARABLE-501",
  message: "Not implemented: " ++ error.description as String ,
  correlationId: correlationId,
  timestamp: now(),
  originLayer: "system"
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="nutrition-sys-api-console">
        <http:listener config-ref="nutrition-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="nutrition-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\health:nutrition-sys-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "UP",
  timestamp: "2026-06-21T12:00:00Z"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0da52f54-9480-40f2-a288-d08ce1e6673e" type="ANY" >
				<ee:transform doc:name="Transform Message" doc:id="256b1aec-9ad5-4631-836f-d621bd1a5066" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  code: "WEARABLE-500",
  message: "DOWN",
  correlationId: correlationId,
  timestamp: now(),
  originLayer: "system"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\foods\(foodId)\nutrients:nutrition-sys-api-config">
        <ee:transform doc:name="Query Param">
            <ee:variables>
                <ee:set-variable variableName="foodId"><![CDATA[attributes.uriParams.'foodId']]></ee:set-variable>
				<ee:set-variable variableName="flowName" ><![CDATA[flow.name]]></ee:set-variable>
				<ee:set-variable variableName="correlationId" ><![CDATA[correlationId]]></ee:set-variable>
				<ee:set-variable variableName="nutrients" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.*fields]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="START" doc:id="4d4be088-af2a-48eb-9861-52f7b938ca1e" message="#[%dw 2.0&#10;output application/json&#10;var logMessage ='Requested food nutrients with foodId: '++ (vars.foodId as String)&#10;import log&#10;---&#10;log::buildLog(&quot;INFO&quot;,logMessage,vars.nutrients, vars.correlationId , vars.flowName)]"/>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  foodId: 747448,
  name: "Oatmeal, regular and quick, unenriched, dry",
  requestedNutrients: {
    proteinG: 16.9,
    sodiumMg: 2,
    ironMg: 4.72
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\foods\search:nutrition-sys-api-config">
		<ee:transform doc:name="Query Param" doc:id="a3e0a2fa-ff1c-4ea3-b2a6-8ef7c2e4b3ec" >
			<ee:variables >
				<ee:set-variable variableName="flowName" ><![CDATA[flow.name]]></ee:set-variable>
				<ee:set-variable variableName="correlationId" ><![CDATA[correlationId]]></ee:set-variable>
				<ee:set-variable variableName="name" ><![CDATA[attributes.queryParams.name]]></ee:set-variable>
				<ee:set-variable variableName="limit" ><![CDATA[attributes.queryParams.limit as Number default 10]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="START" doc:id="228a3f51-2291-4b85-b356-9a853a97ee66" message="#[%dw 2.0&#10;output application/json&#10;var logMessage ='Requested food: '++ (vars.name as String)&#10;import log&#10;---&#10;log::buildLog(&quot;INFO&quot;,logMessage,null, vars.correlationId , vars.flowName)]" />
		<ee:transform doc:name="Transform Message" doc:id="9a277005-b2c2-4851-9ac0-6aaa03d4de75" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status:"success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\foods\(foodId):nutrition-sys-api-config">
        <ee:transform doc:name="Query Param" doc:id="e024963d-73e6-48f8-9d62-c690c5a6a045">
			<ee:variables>
				<ee:set-variable variableName="flowName"><![CDATA[flow.name]]></ee:set-variable>
				<ee:set-variable variableName="foodId"><![CDATA[attributes.uriParams.'foodId']]></ee:set-variable>
				<ee:set-variable variableName="correlationId"><![CDATA[correlationId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="START" doc:id="d1699c94-555a-406b-b38a-10e67570527f" message="#[%dw 2.0&#10;output application/json&#10;var logMessage ='Requested full food nutrient data: '&#10;var foodId = vars.foodId as String&#10;import log&#10;---&#10;log::buildLog(&quot;INFO&quot;,logMessage,foodId, vars.correlationId , vars.flowName)]" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  foodId: 747448,
  name: "Oatmeal, regular and quick, unenriched, dry",
  category: "Cereal Grains and Pasta",
  servingSizeG: 100,
  source: "USDA Foundation Foods",
  nutrients: {
    energyKcal: 389,
    proteinG: 16.9,
    carbohydratesG: 66.3,
    dietaryFiberG: 10.6,
    sugarsG: 0,
    totalFatG: 6.9,
    saturatedFatG: 1.21,
    sodiumMg: 2,
    potassiumMg: 429,
    calciumMg: 54,
    ironMg: 4.72,
    vitaminCMg: 0,
    vitaminDMcg: null,
    vitaminB12Mcg: 0,
    magnesiumMg: 177,
    zincMg: 3.97
  },
  allergens: {
    containsGluten: null,
    containsDairy: null,
    containsNuts: null,
    containsShellfish: null,
    containsEggs: null,
    containsSoy: null
  },
  dietLabels: {
    isVegan: null,
    isVegetarian: null,
    isHalal: null,
    isKosher: null,
    isGlutenFree: null
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
